#welcome-section {
    margin-top: 40vh;
    width: 80%;
    font-size: 14px;
    margin-left: 15vw;
    margin-bottom: 20vh;
    color: white;
}

#welcome-title {
    margin-top: 15vh;
    font-family: monospace;
    font-size: 3em;
}

#welcome-intro {
    font-family: monospace;
    font-size: 1.5em;
}

#welcome-summary {
    font-family: Ubuntu-Light;
    width: 60vw;
    max-width: 300px;
}
  
#projects-link {
    font-family: Ubuntu-Light;
}
  
#button-link {
    border: 2px solid white;
    background: none;
    color: white;
}
  
.typing {
    display: flex;
}
  
.typing-effect {
    font-family: monospace;
    width: 12ch;
    animation: typing 2s steps(12, end), effect .222s step-end 1 alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}
  
@keyframes typing {
    from {
      width: 0
    }
}
  
@media (min-width: 700px) {
    #welcome-section {
      margin-left: 22vw;
    }
}
  
@media (max-width: 500px) {
    #welcome-section {
      margin-top: 30vh;
      margin-bottom: 15vh;
    }
}
  
@font-face {
    font-family: "Boogaloo-Regular";
    src: local("Boogaloo-Regular"),
      url("../fonts/Boogaloo-Regular.ttf") format("truetype");
}
  
@font-face {
    font-family: "Ubuntu-Light";
    src: local("Ubuntu-Light"),
      url("../fonts/Ubuntu-Light.ttf") format("truetype");
}
  