#tech-section {
    margin-bottom: 50px;
    width: 60vw;
    max-width: 900px;
    margin-top: 5vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Ubuntu-Light;
}
  
.row {
    margin-bottom: 2vh;
}
  
.img-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 20vh;
}
  
#tech-intro {
    margin-bottom: 10vh;
    font-size: 28px;
}
  
#tech-imgs {
    margin-top: 5vh;
}
  
.img-responsive {
    width: 5vw;
    max-width: 80px;
    min-width: 35px;
}
  
.img-label {
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-size: 14px;
}

@media (max-width: 850px) {
    #tech-section {
        width: 90%;
    }
}
  
@font-face {
    font-family: "Ubuntu-Light";
    src: local("Ubuntu-Light"),
      url("../../../fonts/Ubuntu-Light.ttf") format("truetype");
}
  