<div id="home-container">
    <div id="welcome-section">
        <div class="typing">
            <h1 id="welcome-title">Hello there.</h1>
        </div>
        <div id="below-title">
            <p id="welcome-intro">I&#39;m Andrew.</p>
            <p id="welcome-summary">I am a detail-oriented backend engineer with a passion for creating intuitive and responsive applications to manage data at scale.</p>
            <a id="projects-link" routerLink="/projects" routerLinkActive="active"><button id="button-link" class="btn">View my work <fa-icon [icon]="faArrowRight" /></button></a>
        </div>
    </div>
</div>